@charset "utf-8";
/* CSS Document */
* { 
	margin: 0; 
	padding: 0; 
} 
h3 {
	color: white;
	font: bold 15px Verdana, Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 10px 0;
}
.h3_bg_blue {
	overflow: hidden;
	height: 36px;
	background: #4DB3FF;
	border-radius: 9px 9px 0 0 !important; 
	-moz-border-radius: 9px 9px 0 0;
	-webkit-border-radius: 9px 9px 0 0; 
	-khtml-border-radius: 9px 9px 0 0; 
}
p {
	text-align: left;
	margin: 11px;
	line-height: 21px;
}
a {
	
}
a:hover {
	
}
img {
	border: 0;
}
.margin_right_end {
	margin-right: 0;
}

body {
	background: #B6ECFF url('../img/bg_body_tile.jpg') repeat-x  0px 474px;
	color: #7F7F7F;
	margin: 0 auto;
	padding: 0;
	font: 15px Verdana, Arial, helvetica, sans-serif;
	line-height: 15px;
	text-align: center;
	position: relative;	
}
.header_wrapper {
	margin-top: 0;
	padding: 0;
	/*
	background: url('/img/bg_tile.jpg') repeat-x;
	*/
	background-color:#29f1ff;
}
.header {
	/*
	background: url('/img/bg_header.jpg') no-repeat center;
	*/
	width: 100%;
	height: 475px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	min-width:1000px;
}
.header .login {
	top: 11px; position: relative; width: 1000px; height: 114px; margin: 0 auto;
}
.dvdr {
	background-color: #0071CE;
	height: 19px;
	margin: 0;
}
	
.indexing {
	width: 1000px;
}
.boxing {
	background: white;
}
.rounded { 
	border-radius: 9px !important; 
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px; 
	-khtml-border-radius: 9px; 
}
.bordered {
	border: 1px solid #B7DAEA;
}
.boxing_how {
	display: inline-block;  
	vertical-align: top;   
	/*Dirty IE Hack*/  
	zoom: 1;  
	*display: inline;
	color: white;
	margin: 0 15px 0 0;
	padding: 0;
	width: 217px;
	height: 217px;
}
.twitter_feed {
	margin: 21px 15px;
}
.social_btn {
	float: left; 
	width: 95px;
	margin-top: 7px;
}
.social_btn img {
	margin-bottom: 15px;
}
.main_menu a {
	margin-right: 35px;
}

.bottomlink {
	padding-right: 7px;
	padding-left: 7px;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	color: #234884;
	text-decoration: none;
	padding-bottom: 0px;
	font-size: 11px;
}
a.bottomlink:hover {
/*update: 07Oct2011
	color: #234884;*/
	color: #ff6600;
	text-decoration: underline;
}
a:visited {font-style:normal;text-decoration:none;}


.bottomlinkOrange {
	padding-right: 7px;
	padding-left: 7px;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	color: #ff6600;
	text-decoration: none;
	padding-bottom: 0px;
	font-size: 11px;
}
a.bottomlinkOrange:hover {
        text-decoration: underline;
}
.copy_right {	
	color: #00587F;
	font-size: 11px;
	margin-top: 11px;
}
